{% extends 'base.html' %}
{% block content %}
<h2>Cadastrar Nova Espécie</h2>
<form action="{{ url_for('main.cadastrar_especie') }}" method="POST">
  <label>Nome da Espécie:</label>
  <input type="text" name="nome" required><br>
  <label>Descrição:</label>
  <textarea name="descricao"></textarea><br>
  <label>Local Associado:</label>
  <select name="local_id" required>
    {% for local in locais %}
    <option value="{{ local.id }}">{{ local.nome }}</option>
    {% endfor %}
  </select><br>
  <button type="submit">Cadastrar</button>
</form>
{% endblock %}
